body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: larger;
    line-height: 1.6;
    color: #222;
    max-width: 40rem;
    padding: 2rem;
    margin: auto;
    background: #fafafa;
    text-align: center;
}

form {
    display: inline-block;
}

input,
textarea {
    border-radius: 4px;
    min-width: 30rem;
    font-size: larger;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: lightgray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

/* slider handle for Chrome, Opera, Safari, Edge */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: darkorchid;
    cursor: pointer;
}

/* slider handle for Firefox */
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: orchid;
    cursor: pointer;
}